headerbar {
  background-image: linear-gradient(180deg, darker(@borders), transparent 31.41%);
}

headerbar:backdrop windowhandle {
  filter: none;
  background-color: @window_bg_color;
  background-image: linear-gradient(180deg, darker(darker(@borders)), transparent 31.41%);
}

.terminal-box {
  background: @window_bg_color;
}

button {
  color: @window_fg_color;
}

label {
  color: @window_fg_color;
}

window {
  background-color: @window_bg_color;
}
