headerbar {
  background: transparent;
  box-shadow: none;
  background-image: linear-gradient(180deg, darker(@borders), transparent 31.16%);
}

headerbar:backdrop windowhandle {
  filter: none;
  background: @window_bg_color;
}
